@page "/calendar/{Name}"

<div class="row">
    <div class="col-sm-12 col-lg-9">
        <table class="calendar-table">
            <thead>
                <tr>
                    <td>Sunday</td>
                    <td>Monday</td>
                    <td>Tuesday</td>
                    <td>Wednesday</td>
                    <td>Thursday</td>
                    <td>Friday</td>
                    <td>Saturday</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                            <div class="day-event yellow-green">
                                Watching Microsoft Build
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="day current-day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                            <div class="day-event magenta">
                                Watching Microsoft Build
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day selected-day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                            <div class="day-event red-orange">
                                Watching Microsoft Build
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                            <div class="day-event yellow">
                                Watching Microsoft Build
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                    <td>
                        <div class="day shadow-effect">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">01</h3>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 col-lg-3"></div>
</div>

@code {
    [Parameter]
    public string Name { get; set; }
}